{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ date }}</h1>
    {% if goal_list %}
    <h2>Cele</h2>
    {%  endif %}
    {% for goal in goal_list %}
        <p><a href="{% url 'tracker:goal_detail' goal.user.username goal.pk %}">{{ goal }}</a></p>
    {%  empty %}
    {% endfor %}

    {% if practice_list %}
    <h2>Ćwiczenie</h2>
    {% endif %}
    {% for practice in practice_list %}
    <p><a href="{% url 'tracker:goal_detail' practice.task.user.username practice.pk %}">{{ practice }}</a></p>
    {% empty %}
    {% endfor %}

{% endblock %}