{% extends 'base.html' %}
{% block content %}
<h2>Zaproszenia</h2>
    <a href="{% url 'accounts:invite_teacher' %}"><button type="button">Zaproś nauczyciela</button></a>
    <a href="{% url 'accounts:invite_student' %}"><button type="button">Zaproś ucznia</button></a>
    <h3>Zaproszenia od nauczycieli</h3>
    <ul>
        {% for teacher in teacher_invitations %}
        <li><a href="{% url 'accounts:accept_teacher' teacher.user.username %}">{{ teacher }}</a></li>
        {% empty %}
            <li>Tu pojawią się zaproszenia od nauczycieli.</li>
        {% endfor %}
    </ul>
    <h3>Zaproszenia od studentów</h3>
    <ul>
        {% for student in student_invitations %}
        <li><a href="{% url 'accounts:accept_student' student.user.username %}">{{ student }}</a></li>
        {% empty %}
            <li>Tu pojawią się zaproszenia od studentów.</li>
        {% endfor %}
    </ul>
{% endblock %}