{% extends 'base.html' %}
{% block content %}
<h2>
    {% if owner.first_name %}
    {{ owner.first_name }}
    {% else %}
    <i>Dodaj imię</i>
    {% endif %}

    {% if owner.last_name %}
    {{ owner.last_name }}
    {% else %}
    <i>Dodaj nazwisko</i>
    {% endif %}
</h2>
<h3>
    {{ owner.username }}
    <br /><br />
    {% if user.id == owner.pk %}
        E-mail: {% if owner.email %}{{ owner.email }}{% else %}<i>Dodaj adres e-mail, aby otrzymywać powiadomienia</i>{% endif %}
    {% endif %}

</h3>
    {% if user.id == owner.pk %}<a href="{% url 'accounts:user_update' %}"><button type="button">Zmień informacje</button></a>{% endif %}

    {% if is_teacher %}
    <h2>Studenci:</h2>
    {% for student in owner.teacher.students.all %}
        <p><a href="{% url 'accounts:user_detail' student.user.username %}">{{ student.user.first_name }} {{ student.user.last_name }} | {{ student.user.username }}</a></p>
    {% empty %}
    {% endfor %}
    {% endif %}
<p><a href="{%  url 'accounts:invite_student' %}"><i>Dodaj studentów</i></a></p>

    {% if is_student %}<h2>Nauczyciele:</h2>
    {% for teacher in owner.student.teachers.all %}
        <p><a href="{% url 'accounts:user_detail' teacher.user.username %}">{{ teacher.user.last_name }} {{ teacher.user.last_name }} | {{ teacher.user.username }}</a></p>
    {% empty %}
    {% endfor %}
    {% endif %}
    <p><a href="{%  url 'accounts:invite_teacher' %}"><i>Dodaj nauczycieli</i></a></p>

{% endblock %}