{% extends 'base.html' %}
{% block content %}
{% if goal_list %}
    <table>
        <caption>Cele</caption>
        {% for goal in goal_list %}
            <td>{{ goal.name }}</td>
            {% if goal.date %}
            <td>{{ goal.date }}</td>
            {% endif %}
            {% if goal.time %}
            <td>{{ goal.time }}</td>
            {% endif %}
            <input type="checkbox" {% if goal.is_concluded %}checked="checked" {% endif %}/>
        {% empty %}
            <td>Tu pojawią się dodane przez Ciebie cele.</td>
        {% endfor %}
    </table>
{% else %}
    <p>Tu pojawią się dodane przez Ciebie cele.</p>
{% endif %}
{% endblock %}