{% extends 'base.html' %}
{% block content %}
    <h2>Utwory</h2>
        <table>
            <caption>Utwory</caption>
            {% for piece in piece_list %}
                <tr>
                {% if piece.name_to_display %}
                <td>{{ piece.name_to_display }}</td>
                {% endif %}
                {% if piece.composer %}
                <td>{{ piece.composer }}</td>
                {% endif %}
                {% if piece.name %}
                <td> - {{ piece.name }}</td>
                {% endif %}
                {% if piece.opus %}
                <td> op. {{ piece.opus }} </td>
                {% endif %}
                {% if piece.number %}
                <td>nr {{ piece.number }}</td>
                {% endif %}
                <input type="checkbox" {% if piece.is_cleared %}checked="checked" {% endif %}/>
                {% if piece.is_mastered %}
                <td>Utwór opanowany</td>
                {% endif %}
                </tr>
            {% empty %}
                <td>Tu pojawią się dodane przez Ciebie utwory.</td>
            {% endfor %}
        </table>
{% endblock %}