{% extends 'base.html' %}
{% block content %}
<h2>Ćwiczenie</h2>
    <h2>{{ task }}</h2><a href="{% url 'tasks:create' task.username %}"><button type="button">Zaktualizuj ćwiczenie</button></a>
    <a href="{% url 'challenges:create_from_task' task.user.username task.pk %}"><button>Utwórz wyzwanie z zadania</button></a>
<table>
    {% if task.was_practiced %}{% for practice in practice_list %}
        <td><a href="{% url 'tasks:practice_update' task.user.username %}?next={% url 'tasks:detail' task.user.username task.pk %}">{{ practice }}</a></td>
        <td><a href="{% url 'tasks:practice_delete' task.user.username %}"><button>Usuń ćwiczenie</button></a></td>
        <td><input type="checkbox" {% if task.is_summarized %}checked="checked" {% endif %}/> -podsumowanie|</td>
    {% empty %}

    {% endfor %}{% endif %}
<a href="{% url 'tasks:practice_create' task.user.username task.pk %}"><button>Dodaj ćwiczenie do zadania</button></a>
</table>
{% endblock %}